
.form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.form-modal-content {
    background-color: white;
    padding: 20px;
    min-width: 80%;
    min-height: 80%;
    border-radius: 15px;
    position: relative;
}

.blur {
    filter: blur(6px);
    background-color: rgb(220, 255, 245);
}

.form-modal-content .table-responsive {
    max-height: 300px;
    /* Set a max-height for the table */
    overflow-y: auto;
    /* Enable vertical scrolling */
}